

//media para Mobile First

@media only screen and (min-width: 320px){
    /*No sé cómo hacer que se vea bien el fondo del body en mobile, se me hace un problema con la gradiente*/
    
        //TAGS

*{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

a{
    text-decoration: none;
    color:black;
}

html{
    height: 100%;
    font-size: 62.5%;
}

hr{
    color: #BDBDBD;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

header{
    grid-area: header;
    width: 100%;
    justify-content: center;
}

nav{
    grid-area: nav;
    width: 100%;
}

main{
    grid-area: main;
}

article{
    grid-area: article;
    width: 100%;
    height: fit-content;
}

aside{
    grid-area: aside;
}

section{
    grid-area: section;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer{
    grid-area: footer;    
}

button{
    margin: 0.5rem
}

table{
    border: 2px solid;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 25vw;
}

label{
    color:black;
    font-size: medium;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

input{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

iframe{
    width: 100%;
}

div{
    a{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        align-items: center;
        img{
            width: 75%;
        }
        h5{
            font-weight: bold;
            text-align: center;
        }
    }
}

nav{
    div{
        div{
            a{
                color:white;
                font-weight: bold;
                padding: 1vw 0vw 1vw 0vw;
            }
        }
    }
}
//CLASES
    //PALETA DE COLOR
    .colorFondoFooterHeader{
        background: #00b7cc;
    }

    .colorFondoBody{
        background: #005f81;
    }

    .colorFondoArticulo{
        background: #ffd0cc;    
    }

    .colorFondoNav{
        background: #ff6fa9;
    }

.nav-link{
    color:black;
}

.divArticulos{
    display: inline-block;
    border: solid black 5px;
}

.divNoticia{
    display: flex;
    
    height: fit-content;
    width: 100%;
    text-align: left;
    border: solid black 1px;
    padding: 3px;
}

.divPromocionados{
    width: 100%
}

.titulo{
    text-align: center;
    color: #212121;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    margin:1vw;
}

.subtitulo{
    font-weight: bold;
    font-size: 2rem;
    padding: 1vw 1vw 0vw 1vw;
}

.titNoticia{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5vw 0vw 0.5vw 0vw;
}

.noticia{
    font-size: 1rem;
    width: auto;
    padding: 1vw;
    margin: 0px;
}

.imagenObra{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 100%;
    transition: transform .2s;
}

.presentacion{
    color:#a10532;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.tabla{
    border: 2 solid black;
    background-color: #e84a5f;
}

.inputTextoGrande{
    width: 25vw;
    height: 10vw;
}

.formulario{
    border: solid black 2px;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
}

.bienvenide{
    border: solid black 5px;
    padding: 1vw;
    height: fit-content;
}

.contNOSOTROS{
    justify-items: center;
    align-items: center;
    width: fit-content;
}

.contGALERIA{
    width: 100%;
    height: 100%;
    display: flex;
}

.contFOTOS{
    grid-area: fotos;
}

.calendario{
    background-color: white;
    border-color: black;
    overflow: scroll;
    margin-bottom: 1rem;
}

table{
    thead{
        border-bottom:3px solid black;
    }
    
    tbody{
        tr{
            border-bottom:1px solid black;
        }
    }
}

.clr--LD{
    text-decoration: none;
    color: blueviolet;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-weight: bold;
}

.clr--LQY{
    text-decoration: none;
    color: blue;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-weight: bold;
}

.clr--MEMC{
    text-decoration: none;
    color: darkcyan;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-weight: bold;
}

.imagenRedes{
    width: 50%;
    margin: 1vw
}

//IDs
    //GRILLAS 320PX
    #grillaINDEX{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "aside"
            "section"
            "footer";
        grid-template-columns: 100%;
        
        justify-items: center;
        align-items: center;
    }

    #grillaNOSOTROS{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 3fr 1fr;

        justify-items: center;
        align-items: center;
    }

    #grillaCONTACTO{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "form"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 3fr 1fr;

        justify-items: center;
        align-items: center;
    }

    #grillaCALENDARIO{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 100%;

        justify-items: center;
        align-items: center;
    }

    #grillaGALERIA{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-column-gap: 1vw;
        grid-template-rows: 1fr 1fr 3fr 1fr;

        justify-items: center;
        align-items: center;
    }

    #grillaFOTOS{    
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
        grid-template-columns: 100%;
        grid-column-gap: 1vw;
    
        justify-items: center;
        align-items: center;
    }

    #mainFOTOS{
        display: grid;
    }
//fin grillas

#main{
    display: flex;
    flex: 1;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;

    height: fit-content;
}

#mainNOSOTROS{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#textoNOSOTROS{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainCONTACTO{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

#mainGALERIA{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#mainCALENDARIO{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#barNAV{
    display: flex;
    justify-content: center;    
    width: fit-content;
}

#formContacto{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    
    font-weight: 700;
    font-size: 2rem;
}

#contNoticia{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
}

#contArticulos{
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 100%;
    margin: 1vw;
}

#menuNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: auto;
    font-size: 2rem;
    width: 100%;
    border: 5px solid black;
}

#promocionados{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.5rem;
}

#articulos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    width: 75%;
    height: auto;
}

#artEnLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0vw 1vw 0vw
}

#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

}
    //fin media 320px
    
@media only screen and (min-width: 1024px){
    
//TAGS

header{
    display: flex;
    width: auto;
}

main{
    border: solid 5px;
}

label{
    font-size: large;
}

iframe{
    width: 560px;
}

nav{
    div{
        div{
            a{
                display: inline;
                padding: 0.5vw 0.5vw 0.5vw 0.5vw;
                font-size: large;
            }
        }
    }
}
//CLASES
    
.divArticulos{
    overflow-y: scroll;
}

.divNoticia{
    width: fit-content;
    overflow: auto;
    border: solid black 5px;
}

.divPromocionados{
    width: 80%
}

.subtitulo{
    font-size: 3rem;
}

.titNoticia{
    font-size: 3rem;
}

.noticia{
    font-size: 2rem;
    width: 50vw;
    padding: 0vw 1vw 0vw 1vw;
}

.imagenObra:hover{
    transform: scale(2);
}

.bienvenide{
    height: 85%;
}

.contGALERIA{
    width: fit-content;
    height: fit-content;
}

.fondoItem{
    color:#b6433e;
}

.imagenNoticia{
    width:50%;
    height: 100%;
    margin: 0.5vw 0vw 0.5vw 0vw;
}

//IDs
    //GRILLAS
    #grillaINDEX{    
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "article article aside"
            "section section section"
            "footer footer footer";
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 1vw;
    }

    #grillaNOSOTROS{    
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }

    #grillaCONTACTO{    
        grid-template-areas:
            "header"
            "nav"
            "form"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }

    #grillaCALENDARIO{    
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }

    #grillaGALERIA{    
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }

    #grillaFOTOS{    
        grid-template-areas:
            "header header"
            "nav nav"
            "article article"
            "footer footer";
        grid-template-columns: 1fr 1fr;
    }
//fin grillas

#contNoticia{
    height: 40vw;
}

#contArticulos{
    align-items: center;
    height: 40vw;
    width: 80%;
}

#menuNavegacion{
    flex-direction: row;
    justify-content: space-around;

    height: fit-content;
    width: fit-content;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin-top: 1vw;
}

#promocionados{
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 1vw;
}

#articulos{
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
    }

#artEnLista{
    margin: 0vw;
}
}

